h1{
    color:green;
    text-align: center;
}

h2{
    color: blue;
    text-align: right;
}

h3{
    color: orange;
}

p{
    color:red;
}

img{
    width: 150px;
    margin:20px;
}

table{
    width: 400px;
    height: 200px;
    border:2px solid red;
}

.top_menu{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.inform :nth-child(2){
    text-align: center;
}

.row-all{
    width: 418px;
    margin: 0 auto;
    padding: 0 46px;
    /*border: 1px solid red;*/
}
.row-all h3{
    color: black;
    text-align: center;
    letter-spacing: 2px;
    /*margin:0;*/
}
.row-all img{
    margin:0;
}
.block-all{
    text-align:center;
    padding:13px 5px;
    border-bottom: 1px solid grey;
}
.top_info{
    padding: 0px 5px;
}
.row-all p{
    color: black;
    text-align: left;
    letter-spacing: 0.69px;
    margin: 15px 10px;
}

.row-all ul{
    text-align: left;
    line-height: 26px;
    padding: 14px 33px;
    letter-spacing: 0.8px;
    margin-bottom:0px;
}
.professional{
    padding-bottom:2px;
}


#telephone_text{
    margin-bottom: 8px;
}
#telephone_number{
    margin-top: 0px;
}
#social_name{
    margin-top: 32px;
}
#social_link{
    margin-bottom:0;
}
.feedback{
    padding: 10px 0px;
}
.modal-row{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000094;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-window{
    background:white;
    height:450px;
    width: 350px;

}
botton{
    background: green;
    padding: 5px 10px;
    cursor: pointer;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.active-modal{
    display:flex;
}
